.services2-container{
    width: 70%;
    margin: auto;
}
.services2{
    padding-top: 5rem;
    padding: 45px;
}
.services2-description{
    text-align: center;
}
.services2-card{
    margin-top: 3rem;
    padding:2rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: start;
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .20);
}
.services2-card__title{
    padding-bottom: 16px;

}
.services2-card p{
    padding-bottom: 10px;
}
.services2-card__item{
    padding-bottom: 10px;
    padding-left: 9px;
}
.services2-link{
    color: rgba(0, 186, 252, 1);
}